body {
    font: 13px/18px Dejavu Sans, Sans;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}
a {
    color: #fff;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 3px;
    border: 1px solid #593815;
    background: #7b5323;
}
td {
    text-align: left;
}

h1, h2, h3, h4, i {
    text-align: center;
}
i {
    display: block;
}
#top {
    font-size: medium;
    display: block;
    margin: 4px 0;
}