body {
    background: url("assets/bg/bg.png") repeat;
    font-family: Play, monospace;
    color: #fff;
}
table {
    margin: auto;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
    border: 1px solid #ccc;
    background: #333;
}
td {
    text-align: left;
}

h1, h2, h3, h4, i {
    text-align: center;
}
i {
    display: block;
}